@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
* {
  font-family: 'Roboto Mono', monospace;
}
h1,h2,h3,h4,h5 {
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}
a {
  color: #fff;
}
a:hover {
  color: #9d50bb;
}
u {
  color:#fff;
}
.role-title {
  padding: 15px;
}
.header {
  background: #c31432;
  background: -webkit-linear-gradient(to right, #c31432, #240b36);
  background: linear-gradient(to right, #c31432, #240b36);
}
.mdl-layout__drawer-button {
  color: #fff;
}
/* landing page styles */
.container {
  width: 100%;
  margin: auto;
}
.user-info {
  color: #fff;;
  padding-left: 15px;
}
.projects-container {
  width: 100%;
}
.mdl-layout__content {
  background: #c31432;
  background: -webkit-linear-gradient(to right, #c31432, #240b36);
  background: linear-gradient(to right, #c31432, #240b36);
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.mdl-layout__drawer.is-visible {
  outline: none;
  border: 0;
  cursor: pointer;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background: #c31432;
}
.take-a-look {
  color: #fff;
}
.landing-grid {
  background: #c31432;
  background: -webkit-linear-gradient(to right, #c31432, #240b36);
  background: linear-gradient(to right, #c31432, #240b36);
  text-align: center;
  height: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
}
.work-title {
  color: #fff;
}
.avatar-img{
  height: 250px;
  padding-top: 5em;
}
.banner-text {
  background:rgba(0, 0, 0, 0.7); 
  width: 75%;
  margin: auto;
  border-radius: 5px;
}
.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: white;
  padding: 1em;
  font-size: 20px;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.card-container {
  display: inline;
}
/* Projects Styles */
.projects-grid {
  display: flex;
}
.projects-box {
  display: flex;
}
.project-right-col {
  padding: 2em;
}
/* .card-lesson {
  margin: 10px;
  min-width: 200px;
  min-height: 100px;
} */
/* .card-lesson > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
} */
/* .card-lesson > .mdl-card__title {
  align-items: flex-start;
} */
/* .card-lesson > .mdl-card__title > h4 {
  margin-top: 0;
}
.card-lesson > .mdl-card__title, .card-lesson > .mdl-card__supporting-text, .card-lesson > .mdl-card__actions, .card-lesson > .mdl-card__actions > .mdl-button {
  color: #fff;
  
} */


/* Contact Page Styles */
  .contact-body {
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
  }
  .contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color: black;
    margin-bottom: 20px;
    border: 2px solid red;
  }

  /* .contact-grid p {

  } */

  .contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
  }

  .contact-list i {
    font-size: 66px;
    padding-right: 5rem;
  }

  .avatar-img {
    height: 250px;
    padding-top: 5em;
  }

  hr {
    width: 50%
  }


/* Resume Page Styles */
.resume-right-col {
  background: rebeccapurple;
  color: black;
  padding: 2em;
}
.prof-summary {
  color: #fff;
}
.resume-container {
  background: black;
}
li.tech-skils-li {
  font-size: 15px;
  color: #fff;
  padding-left: 30px;
}

/* About Me Page Styles */
@media only screen 
  and (device-width: 414px) 
  and (device-height: 896px) 
  and (-webkit-device-pixel-ratio: 2) { 
    
    .banner-text h1 {
      font-size: 45px;
    }
    .avatar-img {
      height: 400px;
      padding-top: px;
    }
    .banner-text p{
      font-size: 15px;
      margin-bottom: 0;
    }
    .social-links i {
      font-size: 40px;
    }

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  .banner-text h1 {
    font-size: 20px;
  }
  .mdl-grid.landing-grid {
    justify-content: center;
    text-align: center;
    align-items: center;
  } 
  .avatar-img {
    height: 125px;
    padding-top: 25px;
  }
  .banner-text p{
    font-size: 15px;
    margin-bottom: 0;
  }
  .social-links i {
    font-size: 40px;
  }
  .card-container {
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .card {
    margin-bottom: 15px; 
    margin-right: 6%;
    width: auto;
    height: 320px;
    margin: auto;
  }
  .projects-grid {
    display:inline;
  }
  .projects-box {
    height: 500px;
    margin-bottom: 20px;
    margin: 20px;
  }
  div.mdl-grid {
    height: auto;
    
  }
  
 .projects-container {
   display: flex;
 }
 .mdl-card.mdl-shadow--16dp.ca {
    height: 320px;
    margin-bottom: 15px; 
    margin-left:15%; 
    margin-right: 15%;
 }
  h2 { 
    text-align: center;
    font-size: 25px;
  }
  h4 {
    text-align: center;
  }
  hr {
    width: 100%
  }
  .summary {
    color: #fff;
  }
  .prof-summary {
    text-align: center;
  }
  .contact-info {
    text-align: center;
  }
  .education-title {
    margin: 8px;
  }
  .contact-list {
    text-align: center;
  }
  i.fa.fa-linkedin {
    padding: 0;
    text-align: center;
  }
  .mdl-list__item{
    text-align: center;
  }
}